.wrapper-products{
    margin-top: 50px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
img{
    width: 100px;
    height: 100px;
}
.wrapper-add-product{
    display: none;
    padding-top: 20px;
}
.wrapper-add-product.active{
    background: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: block;
}
#table-products {
    text-align: center;
}
.form-add-product{
    background: #f5f5f5;
    padding: 30px !important;
}
.form-add-product h1{
    margin-top: 0;
}
#btn-close{
    float: right;
}
#btn-close img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}